.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.main-title {
    font-size: 34px;
    color: #000;
    font-weight: 700;
}

.text-bold {
    font-weight: 600;
}

.text-center {
    text-align: center;
}
.font-30 {
    font-size: 30px!important;
}
.font-a-b {
    font-family: Redhat Bold!important;
}
.text-center {
    text-align: center!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.sub-title {
    font-size: 24px;
    color: #000;
}

.text-center {
    text-align: center;
}
.font-18 {
    font-size: 18px!important;
}
.text-black {
    color: #000!important;
}
.font-a-m {
    font-family: Redhat Medium!important;
}
.text-center {
    text-align: center!important;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}