.m-t-115 {
    margin-top: 115px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.vist {
    margin-top: 50px;
    margin-bottom: 70px;
    background: #f7f7f7;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-title {
    text-align: center;
    padding-top: 40px;
    font-weight: 700;
    font-size: 40px;
    color: #000;
}

.font-30 {
    font-size: 30px !important;
}

.font-a-b {
    font-family: "Redhat Bold" !important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}

.h2, h2 {
    font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0.5rem;
}
.icons {
    margin-top: 35px;
    margin-right: -277px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
img, svg {
    vertical-align: middle;
}

img {
    border-style: none;
}
.para {
    padding-top: 32px;
    font-size: 24px;
    color: #000;
}

.font-18 {
    font-size: 18px !important;
}

.text-center {
    text-align: center !important;
}

p {
    margin-top: 0px;
    margin-bottom: 1rem;
}
