<section class="m-t-115 mb-4">
    <div class="vist pb-4">
        <div class="container">
            <h2 class="main-title pb-4 font-30 font-a-b">Why Choose Vista For Your Ideal Getaway</h2>
            <div class="row icons">
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                    <img alt="icon" width="70" height="60" style="margin-left: 70px;" src="../../assets/image/whyVistaIcons/Selected.svg">
                    <p class="para text-center font-18">Only 1 in 50 homes are accepted</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                    <img src="../../assets/image/whyVistaIcons/Handpicked.svg" alt="icon" width="70" height="60" style="margin-left: 70px;">
                    <p class="para text-center font-18">500+ Handpicked homes across India</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                    <img src="../../assets/image/whyVistaIcons/Hosted.svg" alt="icon" width="70" height="60" style="margin-left: 70px;">
                    <p class="para text-center font-18">Hosted over 250,000+ happy guests</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                    <img src="../../assets/image/whyVistaIcons/Homes.svg" alt="icon" width="70" height="60" style="margin-left: 70px;">
                    <p class="para text-center font-18">Homes are regularly audited for 200+ factors</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img src="../../assets/image/whyVistaIcons/Empower.svg" alt="alt" width="70" height="60" style="margin-left: 70px;">
                    <p class="para text-center font-18">We empower the local community</p>
                </div>
            </div>
        </div>
    </div>
</section>