<section class="m-t-100 mt-3">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="text-center main-title mb-5 font-30 font-a-b">Chosen &amp; Trusted by 5,00,000+ Happy Guests</h3>
            </div>
        </div>
        <div id="chosen-carousel" data-interval="5000" data-ride="carousel" class="carousel slide">
            <div  class="carousel-inner">
                <div  class="carousel-item">
                    <div  class="w-100">
                        <div  class="row team">
                            <div  class="col-lg-3 col-md-6 col-sm-12">
                                <div  class="item-list clearfix mb-3">
                                    <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/1.+Ankur.png">
                                </div>
                                <div class="line">
                                    <h3 class="head font-18">Ankur</h3>
                                    <p class="para font-18">Greenwoods 7 , Lonavala</p>
                                </div>
                                <div class="sub-discription font-18 ng-star-inserted">"Amazing property with customization options 
                                    <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <a>
                                    <div cl="" ss="item-list clearfix mb-3">
                                        <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/Aldeamar+Goa.jpg">
                                    </div>
                                </a>
                                <div  class="line">
                                    <h3  class="head font-18">Shivang</h3>
                                    <p  class="para font-18">Aldeamar Villa, Goa</p>
                                    <div  class="sub-discription font-18 ng-star-inserted"> "We had a nice experience staying here with Vista Rooms. 
                                        <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div  class="item-list clearfix mb-3">
                                    <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/2.+Mandar.png">
                                </div>
                                <div class="line">
                                    <h3  class="head font-18">Mandar</h3>
                                    <p  class="para font-18">El Lodge</p><div  class="sub-discription font-18 ng-star-inserted"> "Peaceful location with all the required amenities. 
                                        <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <a >
                                    <div class="item-list clearfix mb-3">
                                        <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/B+24+Spring.jpg">
                                    </div>
                                </a>
                                <div  class="line">
                                    <h3  class="head font-18">Harshil Shah</h3>
                                    <p  class="para font-18">B-24 Spring, Wada</p>
                                    <div  class="sub-discription font-18 ng-star-inserted"> "We really liked the service here and <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div  class="w-100">
                    <div class="row team">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div  class="item-list clearfix mb-3">
                                <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/3.+Simpy.png">
                            </div>
                            <div class="line">
                                <h3 class="head font-18">Simpy</h3>
                                <p class="para font-18">Mehta Mansion</p>
                                <p  class="sub-discription font-18">"We had an amazing stay. It's a beautiful place"</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <a >
                                <div  class="item-list clearfix mb-3">
                                    <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/Aurus+Grande,+Lonavala.jpg">
                                </div>
                            </a>
                            <div  class="line">
                                <h3  class="head font-18">Anil</h3>
                                <p class="para font-18">Aurus Grande Villa, Lonavala</p>
                                <div class="sub-discription font-18 ng-star-inserted"> "The property was very well-maintained. We highly 
                                    <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div  class="item-list clearfix mb-3">
                                <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/4.+Anderson.png">
                            </div>
                            <div  class="line">
                                <h3  class="head font-18">Anderson</h3>
                                <p  class="para font-18">La Playa</p>
                                <p  class="sub-discription font-18">"We had a great stay at the property. A perfect getaway!"</p>
                            </div>
                        </div>
                        <div  class="col-lg-3 col-md-6 col-sm-12">
                            <a >
                                <div  class="item-list clearfix mb-3">
                                    <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/Elevar+Villa,+karjat.jpg">
                                </div>
                            </a>
                            <div  class="line">
                                <h3  class="head font-18">Niharika Virmani</h3>
                                <p  class="para font-18">Elevar Villa, Karjat</p>
                                <div  class="sub-discription font-18 ng-star-inserted"> "We really liked how prompt and responsive the 
                                    <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div  class="w-100">
                    <div  class="row team">
                        <div  class="col-lg-3 col-md-6 col-sm-12">
                            <div  class="item-list clearfix mb-3">
                                <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/5.+Arpan.png">
                            </div>
                            <div  class="line">
                                <h3  class="head font-18">Arpan</h3>
                                <p  class="para font-18">Deodar Estate</p>
                                <p  class="sub-discription font-18">"It was a memorable stay".</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <a >
                                <div  class="item-list clearfix mb-3">
                                    <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/Bella+Canis,+Goa.jpg">
                                </div>
                            </a>
                            <div  class="line">
                                <h3  class="head font-18">Malvika Sitlani</h3>
                                <p  class="para font-18">Bella Canis, Goa</p>
                                <div  class="sub-discription font-18 ng-star-inserted"> "This is truely an ideal getaway! We loved how <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div  class="col-lg-3 col-md-6 col-sm-12">
                        <div  class="item-list clearfix mb-3">
                            <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/6.Omkar.png">
                        </div>
                        <div  class="line">
                            <h3  class="head font-18">Omkar</h3>
                            <p  class="para font-18">Breeze in the Hills</p>
                            <div  class="sub-discription font-18 ng-star-inserted"> "5 stars for interiors and view! 
                                <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a >
                            <div  class="item-list clearfix mb-3">
                                <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/Cresta+Amber,+Lonavala.jpg">
                            </div>
                        </a>
                        <div  class="line">
                            <h3  class="head font-18">Sushim Bhiwapurkar</h3>
                            <p  class="para font-18">Cresta Amber Villa, Lonavala</p>
                            <div  class="sub-discription font-18 ng-star-inserted"> "" The kids enjoyed so much in the pool.
                                <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div  class="w-100">
                <div  class="row team">
                    <div  class="col-lg-3 col-md-6 col-sm-12">
                        <div  class="item-list clearfix mb-3">
                            <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/7.+Sudhakar.png">
                        </div>
                        <div  class="line">
                            <h3  class="head font-18">Sudhakar</h3>
                            <p  class="para font-18">Fagunia Estate</p>
                            <div  class="sub-discription font-18 ng-star-inserted"> "The stay was very comfortable and hospitality 
                                <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a >
                            <div class="item-list clearfix mb-3">
                                <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/B+24+Spring.jpg">
                            </div>
                        </a>
                        <div class="line">
                            <h3  class="head font-18">Surbhi</h3>
                            <p  class="para font-18">B-24 Spring, Wada</p>
                            <div  class="sub-discription font-18 ng-star-inserted"> "The villa is exactly same as it is in the pictures! 
                                <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div  class="col-lg-3 col-md-6 col-sm-12">
                        <div  class="item-list clearfix mb-3">
                            <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/8.+Mudit.png">
                        </div>
                        <div class="line">
                            <h3  class="head font-18">Mudit</h3>
                            <p  class="para font-18">The Leaf</p>
                            <div  class="sub-discription font-18 ng-star-inserted"> "Excellent location and services. Good food quality 
                                <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a >
                            <div  class="item-list clearfix mb-3">
                                <img  alt="Lights" class="img-responsive propertyimage ng-lazyloaded" src="https://img.vistarooms.com/angular_assets/desktop/images/topdestination/Bella+Aquila+Goa.jpg">
                            </div>
                        </a>
                        <div  class="line">
                            <h3  class="head font-18">Poppy Jabbal</h3>
                            <p  class="para font-18">Bella Aquila, Goa</p>
                            <div  class="sub-discription font-18 ng-star-inserted"> "The team has been welcoming and warm. 
                                <a  class="sub-discription font-14" style="color: #333; cursor: pointer; font-weight: bold; padding-top: 20px;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul  class="carousel-indicators">
            <li  data-target="#chosen-carousel" data-slide-to="0" class="indicators"></li>
            <li  data-target="#chosen-carousel" data-slide-to="1" class="indicators"></li>
            <li  data-target="#chosen-carousel" data-slide-to="2" class="indicators"></li>
            <li  data-target="#chosen-carousel" data-slide-to="3" class="indicators active"></li>
        </ul>
    </div>
        </div>
    </div>
</section>   
