<section class="m-t-100 mt-3">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="text-center main-title mb-5 font-30 font-a-b">Chosen &amp; Trusted by 5,00,000+ Happy Guests</h3>
            </div>
        </div>
        <carousel [images]="images" [autoplay]="true" [autoplayInterval]="2000"  [pauseOnHover]="true" [cellsToShow]="4" [dots]="true" [arrows]= "false" [freeScroll]="true"[margin]="20"  [height]=500
        [width]=1800>
        </carousel>
    </div>
</section>   
