.m-t-90 {
    margin-top: 90px;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.main-title {
    text-align: center;
}



.main-title {
    color: #000;
    font-size: 34px;
    font-weight: 700;
}
.font-30 {
    font-size: 30px!important;
}
.font-a-b {
    font-family: Redhat Bold!important;
}
.text-center {
    text-align: center!important;
}
.sub-title {
    color: #000;
    font-size: 22px;
}
.font-18 {
    font-size: 18px!important;
}
.text-black {
    color: #000!important;
}
.font-a-m {
    font-family: Redhat Medium!important;
}
.text-center {
    text-align: center!important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.m-b-55 {
    margin-bottom: 55px;
}


.btn-box {
    padding-left: 120px;
    padding-right: 120px;
}
.btn-choice.active {
    background-color: #df495b;
    color: #fff;
    border: 1px solid #df495b;
    font-weight: 700;
    font-size: 18px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}


.btn-choice {
    color: #000;
    background-color: #fff;
    border: 1px solid #c8c7cc;
    font-size: 18px;
    font-weight: 700;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}


.btn-choice {
    color: #000;
    background-color: #fff;
    border: 1px solid #c8c7cc;
    font-size: 18px;
    font-weight: 700;
}
.btn {
    width: 100%;
    border-radius: 15px!important;
}


.btn {
    width: 100%;
    border-radius: 15px!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.font-18 {
    font-size: 18px!important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}