<section  class="mt-5 p-t-20 p-b-10 grat-mind">
    <div  class="container mb-4">
        <div  class="row mt-3 mb-5 justify-content-center"><div  class="col-10">
            <h3  class="text-center main-title font-30 font-a-b">Great Minds Think Alike</h3>
            <p  class="text-center sub-title mt-4 font-18 font-a-m text-black">From TV and film celebrities to social media influencers and business achievers, we are the go-to holiday partners for some of the biggest names across industries, for their weekend getaways, short staycations, celebrations and more. </p>
        </div>
        </div>
        <carousel [images]="images" [autoplay]="true" [autoplayInterval]="2000"  [pauseOnHover]="true" [cellsToShow]="4" [dots]="true" [arrows]= "false" [freeScroll]="true"[margin]="20"  [height]=800
        [width]=1800>
        </carousel>
    </div>
</section>