.m-t-75[_ngcontent-jnk-c108] {
    margin-top: 75px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.justify-content-center {
    justify-content: center!important;
}



.text-black {
    color: #000!important;
}



.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.justify-content-center {
    justify-content: center!important;
}

dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}
b, strong {
    font-weight: bolder;
}
main-title {
    text-align: center;
}
.font-18 {
    font-size: 18px!important;
}
.main-title {
    color: #000;
    font-size: 38px;
}

.main-title{
    text-align: center;
}

.carousel {
    position: relative;
}

.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}


a {
    cursor: pointer;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.carousel-multi-img-style {
    width: 17%;
}

.carousel-multi-img-style {
    width: 18%!important;
    margin-left: 20px;
    display: inline-block;
}
.vacation-img img {
    max-height: 225px!important;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}
.rounded-circle {
    border-radius: 50%!important;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
.location-title {
    text-align: center;
    color: #000;
    font-size: 24px;
}

.font-20 {
    font-size: 20px!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.carousel-indicators[_ngcontent-uhk-c108] {
    margin-top: 30px;
    position: relative;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}
 :after, :before {
    box-sizing: border-box;
}
.carousel-indicators[_ngcontent-uhk-c108] li.active[_ngcontent-uhk-c108] {
    background-color: #df494a!important;
    box-shadow: 0 0 0 1px #df494b!important;
}

.carousel-indicators[_ngcontent-uhk-c108] li[_ngcontent-uhk-c108] {
    background-color: #fff!important;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 10px;
    border: 4px solid transparent;
    box-sizing: content-box;
    box-shadow: 0 0 0 2px #c8c7cc!important;
}
.carousel-indicators .active {
    opacity: 1;
}
.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}