<section class="press-block m-t-52 mb-4">
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <a href="https://timesofindia.indiatimes.com/travel/destinations/lets-take-it-a-little-slow/as78010852.cms" target="_blank" rel="Media Image">
                    <img src="https://img.vistarooms.com/angular_assets/common/press-media/press-media1.jpg" alt="logo" class="img-responsive outline-box">
                </a>
            </div>
            <div class="col text-center">
                <a href="https://www.outlookindia.com/outlooktraveller/stay/story/68940/vista-rooms-private-villas-co-founder-amit-damani" target="_blank" rel="Media Image">
                    <img src="https://img.vistarooms.com/angular_assets/common/press-media/press-media2.jpg" alt="logo" class="img-responsive outline-box">
                </a>
            </div>
            <div class="col text-center">
                <a href="https://www.tripoto.com/india/trips/tired-of-wfh-for-5-months-time-to-travel-and-remotely-work-read-to-know-how-5f4fbabfb5f5e?utm_source=Android_App&amp;utm_medium=com.whatsapp" target="_blank" rel="Media Image">
                    <img src="https://img.vistarooms.com/angular_assets/common/press-media/press-media3.jpg" alt="logo" class="img-responsive outline-box">
                </a>
            </div>
            <div class="col text-center">
                <a href="https://hospitality.economictimes.indiatimes.com/blog/the-rise-of-contactless-technology-in-the-travel-and-tourism-sector/4433" target="_blank" rel="Media Image">
                    <img src="https://img.vistarooms.com/angular_assets/common/press-media/press-media4.jpg" alt="logo" class="img-responsive outline-box">
                </a>
            </div>
            <div class="col text-center">
                <a href="http://bwhotelier.businessworld.in/article/-Unlock-3-A-ray-of-hope-for-Hospitality/01-08-2020-303860/" target="_blank" rel="Media Image">
                    <img src="https://img.vistarooms.com/angular_assets/common/press-media/press-media5.jpg" alt="logo" class="img-responsive outline-box">
                </a>
            </div>
        </div>
    </div>
</section>